html, body {
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    color: #9EB2BF;
}

* {
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none; 
}

.green-button a{
    color: #E6E6E6;
}
.gray-button a{
    color: #9EB2BF;
}


@font-face {
    font-family: 'Archivo Black';
    src: url("web/ArchivoBlack-Regular.ttf");
}


#root{
    width: 100vw;
    min-width: 360px;
    height: 88.3vh;
    min-height: 640px;
    background: #1E2227;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content{
    display: inline-flex;
    flex-direction: column;
}

.bottom{
    bottom: 0;
    right: 0;
    position: fixed;
}

h1{
    font-size: 20px;
}

.title{
    width: 310px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.lesson-p{
    background-color: #23272E;
    font-size: 15px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 15px;
    max-width: 290px;
    width: 100%;
    display: block;
}

.green-button{
    background-color: #109768;
    color: #E6E6E6;
    border-radius: 5px;
    padding: 7px;
    border: none;
}

.green-button:active{
    transform: scale(0.96);
    background-color: #16a372;
    transition: 0.1s;
}

.gray-button:active{
    transform: scale(0.98);
    background-color: #282d35;
    transition: 0.1s;
}

.gray-button{
    background-color: #2C313C;
    color: #9EB2BF;
    border-radius: 5px;
    padding: 7px;
    border: none;
}

.new-word{
    font-size: 17px;
    background-color: #2C313C;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 4px;
}

.explanation{
    font-size: 17px;
    background-color: #23272E;
    border-radius: 3px;
    display: inline-block;
    width: 65%;
    padding: 4px;
}