html, body {
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    color: #9EB2BF;

}

@font-face {
    font-family: 'Archivo Black';
    src: url("web/ArchivoBlack-Regular.ttf");
}


#root{
    width: 90vw;
    min-width: 360px;
    height: 90vh;
    min-height: 640px;
    background: #1E2227;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content{
    display: block;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 20px;
}

.title{
    width: 310px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.lesson-p{
    background-color: #23272E;
    font-size: 15px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 15px;
    max-width: 290px;
    width: 100%;
    display: block;
}

.green-button{
    background-color: #109768;
    color: #E6E6E6;
    border-radius: 5px;
    padding: 7px;
    border: none;
}

.green-button:active{
    transform: scale(0.98);
    background-color: #16a372;
    transition: 0.1s;
}

.gray-button:active{
    transform: scale(0.98);
    background-color: #282d35;
    transition: 0.1s;
}

.gray-button{
    background-color: #2C313C;
    color: #9EB2BF;
    border-radius: 5px;
    padding: 7px;
    border: none;
}